<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebGL Tutorial </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/mainCloud.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="/static/java/gl-matrix-min.js" defer></script>
    <script src="/static/java/point-functionsClouds.js" defer></script>
    <script src="/static/java/mainCloud.js" defer></script>
</head>
<body>
    <!-- <h1>WebGL!!</h1> -->
    <!-- <canvas width="1600px" height="900px"></canvas> -->
    <canvas></canvas>
    <script>
        const _c = document.getElementsByTagName('canvas')[0];
        _c.width = window.innerWidth;
        _c.height = window.innerHeight;
    </script>
    <form action="{{ url_for('ilumi') }}" method="post">
      <button type="submit" class="btn btn-primary btn-sm" style="margin:5px;">Look for iluminations</button>
    </form>
    <form action="{{ url_for('text') }}" method="post">
      <button type="submit" class="btn btn-primary btn-sm" style="margin:5px;">Look for texture</button>
    </form>
    <form action="{{ url_for('guy') }}" method="post">
      <button type="submit" class="btn btn-primary btn-sm" style="margin:5px;">Look for hierarchy dog</button>
    </form>
    <form action="{{ url_for('sol') }}" method="post">
      <button type="submit" class="btn btn-primary btn-sm" style="margin:5px;">Look for hierarchy systemsolar</button>
    </form>
    <form action="{{ url_for('cloud') }}" method="post">
      <button type="submit" class="btn btn-primary btn-sm" style="margin:5px;">Look for multipoints</button>
    </form>
</body>
</html>
