{% extends "layout.html" %}

{% block title %}
  welcome to log Page!
{% endblock %}

{% block body %}
  <h1>User name!</h1>


  <form action="{{ url_for('searchPage') }}" method="post">

    <div class="form-group">
      <input class="form-control" name="name" placeholder="User name">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="psw" placeholder="User password">
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Log in</button>
    </div>

  </form>


  <form  action="{{ url_for('welcomeNewUser') }}">
    <button class="btn btn-primary">register</button>
  </form>
  <th scope="col"class="bg-primary">
    <form  action="{{ url_for('index') }}" method="post">
      <button  class="btn btn-primary" name="name">&#x26D4;inicio</button>
    </form>

{% endblock %}
