{% extends "layout.html" %}
{% block title %}
    {{nope}}
{% endblock %}

{% block body %}
    <h2>welcome ||{{ name }} </h2>
    <h3> {{ book.sbnNumber }} ||</h3>
    <h3>{{ book.title }} ||</h3>
    <h3> {{ book.pubYear }}</h3>
    <h3>||{{ book.author }} </h3>

    <ul>
      {% for review in reviews  %}
          <li>


            {{ review.user }} ||{{ review.comentario }}||{{ review.rate }}

          </li>
      {% else %}
      <li> </li>
      {% endfor %}
    </ul>

    <form action="{{ url_for('searchPage') }}/{{book.sbnNumber}}"  method="post">
      <div class="form-group">
        <select class="form-control" name="rate">
            {% for rate in rates %}
              <option value="{{ rate }}">{{ rate }} </option>
            {% else %}
            <h3>no hay comentarios</h3>
            {% endfor %}
        </select>
      </div>
        <input type="text" class="form-control" name="review" id="sbnHeaderBox"  placeholder="insert coments book">
        <input type="hidden" name="name" value={{name}}>
        <button type="submit" class="btn btn-primary" style="margin:5px;">submit comment</button>
    </form>


{% endblock %}
