<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>prueba log-reg</title>
    <link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div class="hero">
	    <div class="form-box">
        <div class="button-box"> 
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">Log in</button>
          <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
          <div class="social-icons">
						<img src="/static/images/fb.png" alt="">
            <img src="/static/images/tw.png" alt="">
            <img src="/static/images/gp.png" alt="">
          </div>
          <form id="login" class="input-group" action="{{ url_for('searchPage') }}" method="post">
            <input type="text" class="input-field" name="name" placeholder="User Id" required>
            <input type="password" class="input-field" name="psw" placeholder="Enter Password" required>
						<input type="hidden" name="title" value="xxx">
						<input type="hidden" name="pubYear" value="xxx">
						<input type="hidden" name="author" value="xxx">
						<input type="hidden" name="mensaje" value="bienvenido">
						<input type="hidden" name="sbnNumber" value="xxx">
						<input type="hidden" name="session" value="no">
            <input type="checkbox" class="chech-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Loggin</button>
          </form>
          <form id="register" class="input-group" action="{{ url_for('index') }}" method="post">
            <input type="text" class="input-field" name="name" placeholder="User Id" required>
            <input type="email" class="input-field" name="email" placeholder="email Id" required>
            <input type="password" class="input-field" name="psw" placeholder="Enter Password" required>
            <input type="password" class="input-field" name="pswConfirm" placeholder="Confirm Password" required>
            <input type="checkbox" class="chech-box"><span>I agree to the terms</span>
            <button type="submit" class="submit-btn">Register</button>
          </form>
	    </div>
	  </div>
    <script>
      var x= document.getElementById("login");
      var y= document.getElementById("register");
      var z= document.getElementById("btn");
      function register(){
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.top="38px";
      }
      function login(){
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.top="0px";
      }
    </script>
	</body>
</html>
